name: 'pycrypto'

services:
  db:
    image: postgres:18
    restart: unless-stopped
    env_file: 
      - .env
    ports:
      - "$POSTGRES_PORT:5432"
    volumes:
      - ./data/app_postgres:/var/lib/postgresql
    networks:
      - default
  
  redis:
    image: redis:8-alpine
    restart: unless-stopped
    command: "redis-server --save 60 1 --appendonly yes --appendfsync everysec"
    env_file:
      - .env
    ports:
      - "$REDIS_PORT:6379"
    volumes:
      - ./data/app_redis:/data
    networks:
      - default
      
  vectordb:
    image: pgvector/pgvector:pg16
    restart: unless-stopped
    command: postgres -c config_file=/etc/postgresql/postgresql.conf -c hba_file=/etc/postgresql/pg_hba.conf
    env_file:
      - .env
    environment:
     POSTGRES_DB: ${PGVECTOR_DB}
     POSTGRES_USER: ${PGVECTOR_USER}
     POSTGRES_PASSWORD: ${PGVECTOR_PASSWORD}
    ports:
      - "$PGVECTOR_PORT:5432"
    volumes:
      - ./data/pgvector/data/:/var/lib/postgresql/data
      - ./data/pgvector/postgres.conf:/etc/postgresql/postgresql.conf
      - ./data/pgvector/pg_hba.conf:/etc/postgresql/pg_hba.conf
    networks:
      - default

networks:
  default:
    driver: bridge
